# To update requirements.txt: python3 -m  pipreqs.pipreqs . --force
# To check package version: pip show <package_name>

# to load environment variables
python-dotenv==0.21.0

# for scraping 
requests==2.31.0
beautifulsoup4==4.11.1
lxml==4.9.1
httpx==0.23.0     

# to read pdfs
pypdf==3.17.3

# to send email
redmail==0.4.1

# to work with dates and timezones
pytz==2022.2.1
python-dateutil==2.8.2

# for testing
pytest==7.4.3

# for feed
feedgen==0.9.0